* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9f5f5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player {
  width: 400px;
  height: 500px;
  background-color: rebeccapurple;
}

.info-block {
  background-color: #f1ca97;
  width: 90%;
  height: 250px;
  margin: 5% auto;
}

.info-block .music-list {
  background-color: aquamarine;
  height: 200px;
  overflow-y: scroll;
}

.pause-btn {
  display: none;
}

.mine-music-nav {
  background-color: red;
}

.open-player {
  background-color: #67bc67;
  color: white;
  display: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
}
